@using TimeyWimey.Model;
@using MudBlazor;
@using MudBlazor.Utilities

<EditForm Model="Activity" OnValidSubmit="Submit">
    <MudDialog>
        <DialogContent>
        @if (Activity == null)
        {
            return;
        }
        <div class="d-flex flex-column full-width">
            <MudTextField T="string" @ref="_nameField" Label="Name" @bind-Value="Activity.Name"></MudTextField>
            <MudColorPicker DisablePreview="false" Label="Color" @bind-Text="Activity.Color"
            ColorPickerMode="ColorPickerMode.RGB"
                            Style='@($"background: {Activity.Color}")'></MudColorPicker>
        </div>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit">Save</MudButton>
            <MudButton OnClick="Cancel">Cancel</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>
@code {
    [Parameter]
    public TimeActivity? Activity { get; set; }

    [CascadingParameter] public MudDialogInstance DialogInstance { get; set; } = default!;


    private MudTextField<string>? _nameField;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _nameField.FocusAsync();
        }
    }

    private async Task Submit()
    {
        DialogInstance.Close(true);
    }

    private void Cancel()
    {
        DialogInstance.Close(false);
    }

}
