@using TimeyWimey.Model
@inject Calendar _calendar;
@if (Days == null)
{
    <p>loading</p>
    return;
}

<div>
    
    <div class="flex-row d-flex" style="width: 100%">
        @foreach (var day in Days)
        {
            <div class="px-1 align-content-stretch" style="width: 100%">
                <h4 class="day-of-week">@day.DayOfWeek</h4>
                <p class="date">@day.Date.ToString("M")</p>
            </div>
        }
    </div>

    <div class="day-scrollable flex-row d-flex" style="height: 85vh">
        @foreach(var day in Days)
        {
            <svg height="200%" width="100%">
                <DayDisplay Day="day"></DayDisplay>
               
            </svg>
        }
    </div>
</div>
@code {
    public Day[]? Days;

    

    protected override void OnInitialized()
    {
        Days = _calendar.GetCurrentWeek();
    }

}
