@using TimeyWimey.Model
@using Microsoft.AspNetCore.Components.WebAssembly.Infrastructure
@inject Calendar _calendar;
@inject IJSRuntime _jsRuntime;

@if (Days == null)
{
    <p>loading</p>
    return;
}

<div>
    
    <div class="flex-row d-flex" style="width: 100%">
        @foreach (var day in Days)
        {
            <div class="px-1 align-content-stretch" style="width: 100%">
                <h4 class="day-of-week">@day.DayOfWeek</h4>
                <p class="date">@day.Date.ToString("M")</p>
            </div>
        }
    </div>

    <div class="day-scrollable flex-row d-flex" style="height: 85vh" @ref="ScrollDiv">
        @foreach(var day in Days)
        {
            <svg height="200%" width="100%">
                <DayDisplay Day="day"></DayDisplay>
               
            </svg>
        }
    </div>
</div>
@code {
    public Day[]? Days;


    public ElementReference ScrollDiv { get; set; }

    protected override void OnInitialized()
    {
        Days = _calendar.GetCurrentWeek();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // TODO: find a smarter/more dynamic way to do this.
            await _jsRuntime.InvokeVoidAsync("scrollElement", ScrollDiv, 0, 450);
        }
    }

}
